@use '../util' as u;

.hero {
  background-color: var(--primary-tint-pale);
  padding-block: u.rem(96) u.rem(50);

  @include u.for-tablet-landscape-up {
    padding-bottom: u.rem(86);
  }

  @include u.for-desktop-up {
    padding-bottom: u.rem(96);
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: u.rem(52);

    padding-inline: u.rem(25.6);

    @include u.for-tablet-portrait-up {
      padding-inline: u.rem(28.8);
    }

    @include u.for-tablet-landscape-up {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;

      margin: 0 auto;
      max-width: u.rem(1080);
    }

    @include u.for-desktop-up {
      max-width: u.rem(1200);
      padding-inline: u.rem(32);
    }
  }

  &__text,
  &__img-container {
    text-align: center;

    @include u.for-tablet-landscape-up {
      text-align: left;
    }
  }

  &__description {
    font-size: clamp(1rem, 0.75rem + 0.67vw, 1.25rem);
    line-height: 1.6;
    margin-bottom: u.rem(38);

    @include u.for-tablet-landscape-up {
      margin-bottom: u.rem(44);
    }

    @include u.for-desktop-up {
      margin-bottom: u.rem(48);
    }
  }

  &__delivered {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: u.rem(12);

    margin-top: u.rem(24);

    @include u.for-tablet-landscape-up {
      margin-top: u.rem(72);
    }

    @include u.for-desktop-up {
      gap: u.rem(16);
    }

    &-imgs {
      display: flex;

      img {
        height: clamp(2.4rem, 1.8rem + 1.6vw, 3rem);
        width: clamp(2.4rem, 1.8rem + 1.6vw, 3rem);
        border-radius: 50%;
        margin-right: u.rem(-12);
        border: 3px solid var(--primary-tint-pale);

        &:last-child {
          margin: 0;
        }

        @include u.for-tablet-landscape-up {
          margin-right: u.rem(-14);
        }

        @include u.for-desktop-up {
          margin-right: u.rem(-16);
        }
      }
    }

    &-text {
      font-size: clamp(0.875rem, 0.625rem + 0.67vw, 1.125rem);
      font-weight: 600;

      span {
        color: var(--primary-shade-med);
        font-weight: 700;
      }
    }
  }

  &__heading {
    font-size: u.rem(36);
    line-height: 1.05;
    color: var(--dark-grey);
  }

  &__img {
    width: 80%;

    @include u.for-tablet-portrait-up {
      width: 55%;
    }

    @include u.for-tablet-landscape-up {
      width: 100%;
    }
  }
}
