@use '../util' as u;

.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  background-color: var(--primary-tint-pale);

  @include u.for-tablet-landscape-up {
    grid-template-columns: 55fr 45fr;
  }

  &__container {
    padding: u.rem(72) u.rem(24);

    @include u.for-tablet-landscape-up {
      padding: u.rem(84) u.rem(28);
    }

    @include u.for-desktop-up {
      padding: u.rem(96);
    }
  }

  &__figures {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: u.rem(38);

    @include u.for-tablet-portrait-up {
      grid-template-columns: 1fr 1fr;
      column-gap: u.rem(64);
    }

    @include u.for-tablet-landscape-up {
      column-gap: u.rem(72);
      row-gap: u.rem(42);
    }

    @include u.for-desktop-up {
      column-gap: u.rem(80);
      row-gap: u.rem(48);
    }
  }

  &__img {
    width: clamp(3.2rem, 2.4rem + 2.13vw, 4rem);
    border-radius: 50%;

    margin-bottom: u.rem(9.6);

    @include u.for-tablet-landscape-up {
      margin-bottom: u.rem(10.8);
    }

    @include u.for-desktop-up {
      margin-bottom: u.rem(12);
    }
  }

  blockquote {
    font-size: clamp(0.9rem, 0.675rem + 0.6vw, 1.125rem);
    line-height: 1.8;

    margin-bottom: u.rem(12.8);

    @include u.for-tablet-landscape-up {
      margin-bottom: u.rem(14.4);
    }

    @include u.for-desktop-up {
      margin-bottom: u.rem(16);
    }
  }

  p {
    font-size: clamp(0.75rem, 0.5rem + 0.67vw, 1rem);
    color: hsl(0, 0%, 44%);
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: u.rem(9.6);

  padding: u.rem(12.8);

  @include u.for-tablet-portrait-up {
    grid-template-columns: repeat(6, 1fr);
  }

  @include u.for-tablet-landscape-up {
    padding: u.rem(14.4);
    grid-template-columns: repeat(2, 1fr);
  }

  @include u.for-desktop-up {
    padding: u.rem(16);
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      transition: all 0.4s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
