@use '../util' as u;

.container {
  max-width: u.rem(1080);
  padding-inline: u.rem(25.6);
  margin: 0 auto;

  @include u.for-tablet-portrait-up {
    padding-inline: u.rem(28.8);
  }

  @include u.for-desktop-up {
    max-width: u.rem(1200);
    padding-inline: u.rem(32);
  }
}

.section-container {
  padding-block: u.rem(76.8);

  @include u.for-tablet-landscape-up {
    padding-block: u.rem(86.4);
  }

  @include u.for-desktop-up {
    padding-block: u.rem(96);
  }
}
