@use '../util' as u;

.grid {
  display: grid;
  row-gap: u.rem(38);

  @include u.for-tablet-portrait-up {
    row-gap: u.rem(52);
    column-gap: u.rem(38);
  }

  @include u.for-tablet-landscape-up {
    row-gap: u.rem(58);
    column-gap: u.rem(44);
  }

  @include u.for-desktop-up {
    row-gap: u.rem(96);
    column-gap: u.rem(64);
  }

  // Start off with 1 column on mobile (<600px)
  &--2-cols,
  &--3-cols,
  &--4-cols {
    grid-template-columns: 1fr;
  }

  &--2-cols,
  &--3-cols,
  &--4-cols {
    @include u.for-tablet-portrait-up {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--3-cols {
    @include u.for-tablet-landscape-up {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--4-cols {
    @include u.for-tablet-landscape-up {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--center-vert {
    align-items: center;
  }

  &--footer {
    grid-template-columns: repeat(6, 1fr);

    @include u.for-tablet-portrait-up {
      grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    }
  }
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
