@use '../util' as u;

.grid {
  display: grid;
  row-gap: 6.4rem;
  column-gap: 9.6rem;

  &--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  &--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  &--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }

  &--5-cols {
    grid-template-columns: repeat(5, 1fr);
  }

  &--center-vert {
    align-items: center;
  }
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
