@use '../util' as u;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: hsla(0, 0%, 100%, 0.97);
  box-shadow: 0 u.rem(9.6) u.rem(25.6) hsla(0, 0%, 0%, 0.03);

  position: fixed;
  z-index: 99;

  height: u.rem(64);
  padding-inline: u.rem(25.6);
  width: 100%;

  @include u.for-tablet-landscape-up {
    height: u.rem(72);
    padding-inline: u.rem(28.8);

    background-color: var(--primary-tint-pale);
    box-shadow: none;
  }

  @include u.for-desktop-up {
    height: u.rem(78);
    padding-inline: u.rem(48);
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-color: hsla(0, 0%, 100%, 0.97);

    transform: translateX(100%);
    transition: all 0.5s;

    backdrop-filter: blur(50%);
    opacity: 0;

    /* Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* Hide from screen readers */
    visibility: hidden;

    @include u.for-tablet-landscape-up {
      position: relative;
      height: 100%;

      justify-content: flex-end;

      background-color: inherit;
      transform: none;
      transition: none;

      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }

    &__list {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: u.rem(48);

      list-style: none;

      @include u.for-tablet-landscape-up {
        flex-direction: row;
        gap: u.rem(36);
      }
    }

    &__link {
      &:link,
      &:visited {
        display: inline-block;
        text-decoration: none;
        color: var(--dark-grey);
        font-weight: 500;
        font-size: u.rem(24);
        transition: all 0.3s;

        @include u.for-tablet-landscape-up {
          font-size: clamp(1rem, 0.25rem + 1.33vw, 1.25rem);
        }
      }

      &:hover,
      &:hover {
        color: var(--primary-shade-med);
      }
    }

    &__link--cta {
      &:link,
      &:visited {
        padding: u.rem(12) u.rem(24);
        border-radius: 9px;
        color: var(--white);
        background-color: var(--primary);
      }

      &:hover,
      &:active {
        background-color: var(--primary-shade-med);
      }
    }
  }

  .mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    z-index: 999;

    &__icon {
      height: u.rem(38);
      width: u.rem(38);
      color: var(--dark-grey);

      &[name='close-outline'] {
        display: none;
      }
    }

    @include u.for-tablet-landscape-up {
      display: none;
    }
  }
}

.mobile-nav-open {
  .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .mobile-nav__icon {
    &[name='close-outline'] {
      display: block;
    }

    &[name='menu-outline'] {
      display: none;
    }
  }
}
