@use '../util' as u;

.heading {
  font-weight: 700;
  line-height: 1.05;
  color: var(--dark-grey);

  &--primary {
    font-size: clamp(2rem, 1rem + 2.67vw, 3rem);
    letter-spacing: -0.5px;
    margin-bottom: u.rem(25.6);

    @include u.for-tablet-landscape-up {
      margin-bottom: u.rem(28.8);
    }

    @include u.for-desktop-up {
      margin-bottom: u.rem(32);
    }
  }

  &--secondary {
    font-size: clamp(1.75rem, 0.75rem + 2.67vw, 2.75rem);
    line-height: 1.2;
    margin-bottom: u.rem(48);

    @include u.for-tablet-portrait-up {
      margin-bottom: u.rem(76);
    }

    @include u.for-tablet-landscape-up {
      margin-bottom: u.rem(86);
    }

    @include u.for-desktop-up {
      margin-bottom: u.rem(96);
    }
  }

  &--tertiary {
    font-size: clamp(1.125rem, 0.375rem + 2vw, 1.875rem);
    line-height: 1.2;
    margin-bottom: u.rem(25.6);

    @include u.for-tablet-landscape-up {
      margin-bottom: u.rem(28.8);
    }

    @include u.for-desktop-up {
      margin-bottom: u.rem(32);
    }
  }
}

.subheading {
  display: block;
  font-size: clamp(0.75rem, 0.5rem + 0.67vw, 1rem);
  font-weight: 500;
  color: hsl(28, 74%, 47%);
  text-transform: uppercase;
  margin-bottom: u.rem(12);
  letter-spacing: 0.75px;

  @include u.for-tablet-landscape-up {
    margin-bottom: u.rem(14);
  }

  @include u.for-desktop-up {
    margin-bottom: u.rem(16);
  }
}
