:root {
  --text-color: hsl(0, 0%, 33%);
  --dark-grey: hsl(0, 0%, 20%);
  --primary: hsl(28, 80%, 52%);
  --primary-shade-med: hsl(28, 74%, 47%);
  --primary-shade-light: hsl(28, 80%, 61%);
  --primary-shade-dark: hsl(28, 75%, 15%);
  --primary-tint-pale: hsl(27, 83%, 95%);
  --primary-tint-mid: hsl(28, 80%, 90%);
  --white: hsl(0, 0%, 100%);
}
